
<!DOCTYPE html>
<html>
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NZQDR6X');</script>
        <!-- End Google Tag Manager -->

        <title>Never Ending Cycle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property='og:title' content='Never Ending Cycle'/>
        <meta property='og:description' content='Travels & Guides'/>
        <link rel="icon" href="../imgs/travel_favicon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    </head>

    <body>
        <div class="container">
            
            <%- include("partials/navbar") %>

            <div class="row">

                <div class="col-lg-6">
                    <img style="margin-bottom: 30px;" id="jt" src="../imgs/jason.jpg" alt="Jason Tsao MUN Graduation" width="100%">
                </div>

                <div class="col-lg-6">
                    <h1 class="title">Hello readers! I'm Jason.</h1>

                    <p style="margin-top: 40px;" class="main_text">
                        I was born and raised in SoCal and graduated from the University of California, Santa Barbara, with a B.A. double major in Economics/Mathematics & Statistics. I currently work for Accenture in San Francisco under their technology consulting practice. I'm new to the Bay Area, so I welcome any recommendations!
                        <br>
                        <br>
                        When I was little, my interests included playing with toy cars, being an expert in Mario Kart, an avid Pokemon game player, and reading lots and lots of books. Some of that hasn't changed in the present day!
                        <br>
                        <br>
                        Today, my passions include traveling (obviously), writing this blog (also a given), swimming endless laps at the pool, photographing nature and people, watching TV shows, and reading on the beach. You may see me trying to find new restaurants or earning some money here and there to fuel my travel addiction!
                    </p>

                    <span id="icons">
                        <a class="p" href="https://www.linkedin.com/company/neverendingcycle/" title="LinkedIn" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a class="p" href="https://www.instagram.com/_neverendingcycle/" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a class="p" href="https://www.facebook.com/neverendingcycleorg" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="p" href="https://www.neverendingcycle.org/" title="Website" target="_blank"><i class="fas fa-globe"></i></a>
                    </span>
                </div>

            </div>

            <!-- Load Facebook SDK for JavaScript -->
              <div id="fb-root"></div>
              <script>
                window.fbAsyncInit = function() {
                  FB.init({
                    xfbml            : true,
                    version          : 'v8.0'
                  });
                };

                (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
              }(document, 'script', 'facebook-jssdk'));</script>

              <!-- Your Chat Plugin code -->
              <div class="fb-customerchat"
                attribution=setup_tool
                page_id="104965274628015"
                logged_in_greeting="Hi! Don't know where to start? Check out the chat menu!"
                logged_out_greeting="Hi! Don't know where to start? Check out the chat menu!">
              </div>

        </div>

        <hr>

        <div class="container">

            <%- include("partials/footer") %>

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZQDR6X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

</html>
