<!DOCTYPE html>
<html>
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NZQDR6X');</script>
        <!-- End Google Tag Manager -->

        <title>Never Ending Cycle</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property='og:title' content='Never Ending Cycle'/>
        <meta property='og:description' content='Travels & Guides'/>
        <link rel="icon" href="../imgs/travel_favicon.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="../css/style.css" rel="stylesheet" type="text/css">
        <link href="../css/guides.css" rel="stylesheet" type="text/css">
    </head>

     <body>
        <div class="container">

            <%- include("partials/navbar") %>

         </div>

         <div class="container-fluid">
            <div class="row">
                <span class="col-sm-12" id="banner"><img src="../imgs/canyon_banner.jpg" width= 100% alt="guides-banner"></span>
                <h1 style="text-align: center">Guides</h1>
            </div>
         </div>

         <div class="container">
                <div class="row">
                    <span style="margin: 0px 10px 25px 10px; text-align: center;" class="main_text">
                        Here, you'll find comprehensive summaries and tips of various topics that I feel that I'm really knowledgeable about - my goal is to pass my knowledge and experience down to others! A list of my guides is below, and they should redirect to another link. But if there is no link, the guide is in progress - thank you for your patience!
                    </span>
                </div>

                <div class="row align-items-start text-center">
                    <div class="col-sm mb-3">
                        <img class="col-sm-12" src="../imgs/united.jpg" height=352px width=100% object-fit: cover alt="united">
                        <span class="first-text">Airlines</span>
                        <span class="second-text"><a href="https://www.neverendingcycle.org/ua-9899-lax-mel-economy-class-review.html" target="_blank">Economy Class on United Airlines</a></span>
                        <span>
                            When I was looking at booking a flight to Melbourne, I was surprised that United offered nonstop service to Melbourne. Usually, Qantas and Virgin Australia have a monopoly on any US routes bound to Australia. However, more and more airlines are launching routes to Australia which is increasing competition. <br>
                        </span>
                    </div>

                    <div class="col-sm mb-3">
                        <img class="col-sm-12" src="../imgs/qatar.jpg" height=352px alt="qatar">
                        <span class="first-text">Airlines</span>
                        <span class="second-text"><a href="https://www.neverendingcycle.org/qr-816-doh-hkg-business-class-review.html" target="_blank">Business Class on Qatar Airways</a></span>
                        <span>
                            I've never been a very indulgent person. But, when I got an email from Qatar Airways offering me an upgrade for a reasonable fee, I knew this could be the opportunity of a lifetime. During this stage of my trip, I was actually spending less than I expected so I decided to take the leap. The upgrade was definitely pricey, but I don't regret it at all! The experience was simply indescribable and it's something I would do again - but when I'm making way more money in the future.
                        </span>
                    </div>

                    <div class="col-sm mb-3">
                        <img class="col-sm-12" src="../imgs/driving.jpg" height=352px width=352px alt="driving">
                        <span class="first-text">Driving</span>
                        <span class="second-text"><a href="https://www.neverendingcycle.org/long-distance-driving.html" target="_blank">Long-Distance Driving</a></span>
                        <span>
                            Long distance driving is one of those things that is easy to learn, but hard to master. Throughout the years, I did weekly 3-4 hour drives and 6-7 hour monthly drives. All of this driving was either round-trip from Santa Barbara to NorCal or to SoCal. All of these drives have built up my driving tolerance to an ungodly level. The goal of this guide is to help the average driver get through a long-distance drive without feeling too tired at the end! <br>
                        </span>
                    </div>
                </div>


                <div class="row align-items-start text-center">
                    <div class="col-sm mb-3">
                        <img class="col-sm-12" src="../imgs/packing.jpg" class="col-sm-4" height=352px alt="packing">
                        <span class="first-text">Necessities</span>
                        <span class="second-text"><a href="https://www.neverendingcycle.org/packing.html" target="_blank">Packing</a></span>
                        <span>
                            Packing can either be the easiest part or the hardest of your trip, depending on how prepared you are! Of course, it can be very simple if you can bring lots of suitcases without worrying about their weight. However, airlines are adopting practices where they charge for you to check in a bag and for overhead bin space! Therefore, you have to resort to a carry-on bag only if you want to save some money, but fitting everything into a carry-on might be a challenge! <br>
                        </span>
                    </div>

                    <div class="col-sm mb-3">
                        <img class="col-sm-12" src="../imgs/disneyland.jpg" class="col-sm-4" height=352px alt="disneyland">
                        <span class="first-text">Parks & Recreation</span>
                        <span class="second-text"><a href="https://www.neverendingcycle.org/disneyland.html" target="_blank">Disneyland</a></span>
                        <span>
                            Disneyland is one of my favorite places of all time - there’s just something about the theme park that just brings me excitement every time I go. Both Disneyland Park and Disneyland California Adventure (DCA) have their appeal, but figuring out how to maximize the utility of your day is difficult. With ticket prices increasing, ever-growing crowds, and the opening of Galaxy’s Edge, it’s getting more and more frustrating to justify spending a day in the park. <br>
                        </span>
                    </div>

                    <div class="col-sm mb-3">
                        <img class="col-sm-12" src="../imgs/planning.jpg" class="col-sm-4" height=352px alt="driving-two">
                        <span class="first-text">Money</span>
                        <span class="second-text"><a href="https://www.neverendingcycle.org/traveling-around-the-world-on-a-budget.html" target="_blank">Traveling on a Budget</a></span>
                        <span>
                            Traveling doesn’t need to be incredibly complicated or expensive. Planning a vacation can be pretty overwhelming as you have to worry about different aspects: logistics, cost, things to do and eat, being safe, and lots of other things! You want to have the best time with the lowest cost, but you aren’t sure how to find that balance. Sometimes, there are factors that are outside your control. However, the goal of this article is to help you control the things you can so that you can focus on having a great vacation. <br>
                        </span>
                    </div>
                </div>

                <!-- Load Facebook SDK for JavaScript -->
                  <div id="fb-root"></div>
                  <script>
                    window.fbAsyncInit = function() {
                      FB.init({
                        xfbml            : true,
                        version          : 'v8.0'
                      });
                    };

                    (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                    fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));</script>

                  <!-- Your Chat Plugin code -->
                  <div class="fb-customerchat"
                    attribution=setup_tool
                    page_id="104965274628015"
                    logged_in_greeting="Hi! Don't know where to start? Check out the chat menu!"
                    logged_out_greeting="Hi! Don't know where to start? Check out the chat menu!">
                  </div>
        </div>

        <hr>

        <div class="container">

            <%- include("partials/footer") %>

        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZQDR6X"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

</html>
