#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 431px;
    margin-top: 16px;
    margin-bottom: 25px;
}

h1 {
    position: absolute;
    top: 250px;
    width: 100%;

    /* H1 Header */

    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 84px;
    line-height: 104px;
    /* or 108% */
    color: #FFFFFF;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0;
    padding-left: 0;
}

.first-text {
    /* 24 sp • Paragraph Big */

    /* Paragraph Big */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    /* or 150% */

    display: grid;
    align-items: center;
    text-align: center;
    /* Black */

    color: #2D3436;
}

.second-text {
    /* H4 Header */

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    /* or 150% */

    display: grid;
    align-items: center;
    text-align: center;

    /* Black */

    color: #2D3436;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    font-style: normal;
    text-decoration: none;
    color: darkcyan;
}
