#continents {
    /* H3 Header */

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;

    display: flex;
    align-items: center;
    margin-top: 20px;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;
}
